.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
}

.accordion-title {
  background: grey;
  padding: 8px;
  /* margin: 0 0 3px; */
  cursor: pointer;
}

.accordion-none {
  display: none;
}

.accordion-block {
  background: lightgray;
  padding: 8px 0;
}
