.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
}

.accordion-title {
  background: lightgrey;
  padding: 8px;
  cursor: pointer;
}

.accordion-none {
  display: none;
}

.accordion-block {
  background: darkgrey;
  padding: 8px 0;
}
